/* this is where all of your CSS styles go */

body {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 20px;
}

#button {
    color: dodgerblue;
    position: fixed;
    top:500px;
    left: 675px;
    text-decoration: none;


}

p {
    position: relative;
    top:350px;
    left:615px;
    margin-left: 30px;
    display: inline-block;
}